/* General Styles */
@use 'global';
@use 'mixin';


.navbar-container {
  position: relative;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050284;
  padding: 1em;
  height: 60px;
  color: #fff;
  margin: 0;

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo {
      height: 40px;
      border-radius: 50%;
    }
  }

  .navbar-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 5px;
    }
    .text-logo{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      letter-spacing: -0.5px;
    }
  }

  .navbar-links-container {
    position: relative;

    .navbar-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      &.active {
        display: block;
      }

      .menu-item {
        position: relative;

        a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 10px;
        }
      }
    }
  }
  .login-container{
    .login-links{
    display: flex;
    flex-direction: row;
    }

    .navbar-search-button {
      margin-left: 10px;
    }
    .button-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF; /* Light blue background */
      color: #fff; /* White text */
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
      font-size: 16px;
      border: 2px solid #007BFF; /* Blue border */
    }
    
    .button-link:hover {
      background-color: #fff; /* White background on hover */
      color: #007BFF !important; /* Blue text on hover */
    }

  }

  
  
  
  
}

/* Mobile Menu Toggle */
.navbar-toggle {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;

  .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
  }
}

/* Mega Menu Styles */
.mega-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;

  &.visible {
    display: block;
  }

  .mega-menu-content {
    display: flex;
    padding: 1em;

    .mega-menu-column {
      flex: 1;
      padding: 1em;

      h3 {
        margin: 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5em;

          a {
            text-decoration: none;
            color: #333;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Group Menu */
.group-menu {
  display: flex;
  flex-direction: row;
}

/* Login Button */
.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

/* Search Popup Styles */
.search-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.visible {
    display: block;
  }

  .search-container {
    display: flex;
    align-items: center;

    .search-input-button {
      margin-left: 10px;
    }

    .search-ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }

  .navbar-close-button {
    margin-left: 10px;
  }
}

/* Accordion Styles (MUI specific overrides) */
.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  width: 100% !important;
  background-color: transparent !important;

}
.css-nt424e-MuiPaper-root-MuiAccordion-root{
  box-shadow: none !important;
}

.css-15v22id-MuiAccordionDetails-root {
  margin-left: 1em;
}

.css-eqpfi5-MuiAccordionSummary-content {
  margin-left: -1em !important;
}


@media (max-width: 350px) {
.navbar .login-container .button-link {
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 0.5em;
}
.login-links{
  margin-left: 5px;
  
}
.navbar .navbar-text a {
  margin: 0;
}
}
/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-links-container {
    display: none; /* Hide desktop menu */
    color: #050284;
    
  }
  .text-logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em !important;
    letter-spacing: -0.5px;
  }

  .button-link{
    background-color: #050284 !important;
    color: #fff !important;
  }


  
  .navbar-toggle {
    margin-right: 1em !important;
   
    .menu-icon{
      color: #050284 !important;
    }
  }
  .mobile-menu {
    display: block; /* Show mobile menu */
    height: 100%;
    
    z-index: 2000;
    position: absolute;
    width: 100%;
    background-color: #fff;

  }
  .mobile-menu-links{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5.8rem;
   
  }
  .menu-item{
    padding: 0 1em 0 1em;
  }

  .navbar-text {
    display: none; /* Hide text links in mobile view */
  }

  .navbar {
    position: fixed; /* Fixed position to stay on top */
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    z-index: 20; /* High z-index to ensure it is on top */
    transition: background 0.3s; /* Smooth transition for background change */

    .navbar-text a {
      color: #050284;
    }
  }
}

/* Media Query for desktop screens */
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important; /* Hide mobile menu */
  }

  .navbar-toggle {
    display: none !important; /* Hide mobile menu toggle */
  }
}






//Admin Navbar


@media (max-width: 769px) {
  .searchBar {
    display: none !important;
  }
}
