// ResponsiveTable.scss
.slides-table-container, .rates-table-container, .noticecards-table-container {
  display: block;

  .slides-table-head, .rates-table-head, .noticecards-table-head {
    background-color: #242424;
    color: white;

    .slides-table-cell, .rates-table-cell, .noticecards-table-cell{
      color: white;
    }
  }

  .slides-table-row, .rates-table-row, .noticecards-table-row{
    &.deleted {
      background-color: #f8d7da;
      color: #721c24;
    }
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
}


.slides-table-card-container, .rates-table-card-container, .noticecards-table-card-container{
  display: none; // Hidden by default for desktop
  gap: 16px;

  .slides-table-card {
    background-color: white;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;

    &.deleted {
      background-color: #f8d7da;
      color: #721c24;
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 200px;
      height: auto;
      margin-bottom: 8px;
    }

    .slides-table-edit-button {
      padding: 8px 16px;
      border: 1px solid #1976d2;
      color: #1976d2;
      background-color: transparent;
      text-transform: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e3f2fd;
      }
    }
  }
}

// Responsive breakpoints
@media (max-width: 820px) {
  .slides-table-container, .rates-table-container,   .noticecards-table-container {
    display: none;
  }

  .slides-table-card-container, .rates-table-card-container, .noticecards-table-card-container  {
    display: flex; // Show cards for mobile
    flex-direction: column;
    
  }
  
}

// Responsive breakpoints

@media (max-width: 780px) {
  .carousel-title,
  .carousel-description {
    max-width: 100%; /* Ensure typography takes full width of its container */
  }
}



/* Apply 10px padding only for mobile screens */
@media (max-width: 820px) {
  .carousel-menu-buttons {
    padding: 10px !important; /* Padding for mobile only */
  }
  .rates-menu-buttons{
    width: 100% !important;
  }
}

.checkbox-div {
  display: flex;
  gap: 10px; /* Add space between buttons */

  .select-all-button, .select-all-deleted-button {
    width: 120px;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .select-all-button {
    background-color: #1976d2; /* Blue background */

  }

  .select-all-deleted-button {
    background-color: red; /* Red background */
    height: 50px;
  }
}



// ResponsiveTable.scss
.slides-table-container, .rates-table-container, .noticecards-table-container {
  display: block;

  .slides-table-head, .rates-table-head, .noticecards-table-head {
    background-color: #242424;
    color: white;

    .slides-table-cell, .rates-table-cell, .noticecards-table-cell{
      color: white;
    }
  }

  .slides-table-row, .rates-table-row, .noticecards-table-row{
    &.deleted {
      background-color: #f8d7da;
      color: #721c24;
    }
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
}


.slides-table-card-container, .rates-table-card-container, .noticecards-table-card-container{
  display: none; // Hidden by default for desktop
  gap: 16px;

  .slides-table-card {
    background-color: white;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;

    &.deleted {
      background-color: #f8d7da;
      color: #721c24;
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 200px;
      height: auto;
      margin-bottom: 8px;
    }

    .slides-table-edit-button {
      padding: 8px 16px;
      border: 1px solid #1976d2;
      color: #1976d2;
      background-color: transparent;
      text-transform: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e3f2fd;
      }
    }
  }
}

// Responsive breakpoints
@media (max-width: 820px) {
  .slides-table-container, .rates-table-container,   .noticecards-table-container {
    display: none;
  }

  .slides-table-card-container, .rates-table-card-container, .noticecards-table-card-container  {
    display: flex; // Show cards for mobile
    flex-direction: column;
    
  }
  
}

// Responsive breakpoints

@media (max-width: 780px) {
  .carousel-title,
  .carousel-description {
    max-width: 100%; /* Ensure typography takes full width of its container */
  }
}



/* Apply 10px padding only for mobile screens */
@media (max-width: 820px) {
  .carousel-menu-buttons {
    padding: 10px !important; /* Padding for mobile only */
  }
  .rates-menu-buttons{
    width: 100% !important;
  }
}

.checkbox-div {
  display: flex;
  gap: 10px; /* Add space between buttons */

  .select-all-button, .select-all-deleted-button {
    width: 120px;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .select-all-button {
    background-color: #1976d2; /* Blue background */

  }

  .select-all-deleted-button {
    background-color: red; /* Red background */
    height: 50px;
  }
}



