html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: content-box; /* Resets to the default */
}

/* Unified scrollbar styling */

